.my-list{
    background-color: #5db2f8;
    padding: 8px 24px;
    font-size: 30px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    width: 500px;
    margin: 0 auto;
}

p{
    text-align: center;
}

ol{
    margin: 12px;
}